* {
  margin: 0;
  box-sizing: border-box;
}


/* START = TYPOGRAPHY */

.text-regular {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
}


/* END = TYPOGRAPHY */